<div>
<nb-card style="height: 45rem; margin-bottom: unset;" >
  <nb-card-header>
    <div style="width: 100%; display:flex; justify-content: space-between;">
      <span>{{roomInfo.name}}</span>
      <nb-icon icon="close" (click)="closeChatMsgBox()"></nb-icon>
    </div>
  </nb-card-header>
  <nb-card-body >
    <ng-container *ngFor="let item of history">
      <jb-chatMessage [messageData]=item></jb-chatMessage>
    </ng-container>
  </nb-card-body>
</nb-card>
<div style="display: flex;">
    <input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi round" [(ngModel)]="userInput" (keyup.enter)="onEnter($event)">
    <button nbButton status="primary" (click)=sendMessage()>
      <nb-icon icon="navigation-2"></nb-icon>
    </button>
  </div>
</div>