<div class="row">
  <div class="col-xl-9 col-lg-8 col-md-6 col-sm-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-8 col-md-8 col-lg-8">
            房間清單
          </div>
          <div class="col-4 col-md-4 col-lg-4">
            <div style="display: flex; justify-content: flex-end;">
              <button nbButton size="small" status="primary" (click)="createBtn()">
                <nb-icon icon="plus"></nb-icon>建立房間
              </button>
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div style="display: flex; flex-wrap: wrap;">
          <div *ngFor="let room of roomList" style="display: flex; justify-content: center;"
            class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <nb-card>
              <nb-card-header>
                <div style="display: flex;justify-content:space-between;">
                  <div>
                    {{room.name}}
                  </div>
                  <div>
                    <button nbButton status="primary" (click)="enterRoom(room)">
                      <nb-icon icon="navigation-2-outline"></nb-icon>
                    </button>
                  </div>
                </div>

              </nb-card-header>
              <nb-card-body style="padding:unset;">
                <img [src]="room.coverPicUrl" width="100%" height="100%">
              </nb-card-body>
              <nb-card-footer>
                <div style="display: flex; ">
                  <div></div>
                  <div>
                    <div>擁有者：{{room.owner}}</div>
                    <div>房間人數:{{room.memberCount}}<span style="padding-left: 0.5rem;">人</span>
                    </div>
                    <div>建立時間：{{room.createTime}}</div>
                  </div>
                </div>
              </nb-card-footer>
            </nb-card>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <div class="col-md-12">
          <nb-card>
            <nb-tabset fullWidth>
              <nb-tab tabTitle="Contact" style="padding:unset;">
                <nb-list>
                  <nb-list-item *ngFor="let c of contact">
                    <div class="row" style="width: 100%;">
                      <div class="col-9 col-sm-9 col-md-10 col-lg-10" style="width: 100%;">
                        <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="medium"
                          style="width: 100%;" shape="rectangle"></nb-user>
                      </div>
                      <div class="col-3 col-sm-3 col-md-2 col-lg-2 "
                        style="display: flex;align-items:center; justify-content: flex-end;">
                        <nb-icon icon="message-circle-outline" (click)="enterRoom()"></nb-icon>
                      </div>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-tab>
              <nb-tab tabTitle="Recent" style="padding:unset;">
                <nb-list>
                  <nb-list-item *ngFor="let c of recent">
                    <div class="row" style="width: 100%;">
                      <div class="col-9 col-sm-9 col-md-10 col-lg-10" style="width: 100%;">
                        <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.time" size="medium"
                          style="width: 100%;" shape="rectangle"></nb-user>
                      </div>
                      <div class="col-3 col-sm-3 col-md-2 col-lg-2 "
                        style="display: flex;align-items:center;justify-content: flex-end;">
                        <nb-icon icon="message-circle-outline" (click)="enterRoom()"></nb-icon>
                      </div>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-tab>
            </nb-tabset>
          </nb-card>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
